<div class="progress-container w-100 d-flex flex-column">

  <div class="progress-container-inner w-100 d-flex flex-column">

    <div class="progress-bar-wrapper w-100 d-flex justify-content-between">

      <div class="progress-bar-range-value min-value">{{progressBarConfig?.minValue}}</div>

      <div class="progress-bar-content-wrapper position-relative">
        <div class="d-flex align-items-center h-100">
          <div class="progress-bar-content" [ngClass]="{'animated': progressBarConfig?.isAnimated}"  [ngStyle]="{'width.%': width}">

          </div>
        </div>

        <div class="current-value d-flex flex-row-reverse position-absolute" [ngClass]="{'animated': progressBarConfig?.isAnimated}" [ngStyle]="{'width.%': width}">
          <div>{{progressBarConfig?.progress}}</div>
        </div>
        <div
          class="d-flex partitions-container justify-content-center align-items-center margin-t-14 position-relative">
          <div #partitionItems *ngFor="let item of partitions; let i=index">
            <div class="d-flex justify-content-center align-items-center flex-column partition-item"
              [ngClass]="{'checked': item.isChecked && isCheckable}">
              <div class="vertical-line"></div>
              <div class="number spec-font-lg-12">{{item.value}}</div>
            </div>
          </div>
          <div #reversedPartitionItems class="position-absolute reverse" *ngFor="let reverseItem of reversePartitions">
            <div class="d-flex justify-content-center align-items-center flex-column partition-item"
              [ngClass]="{'checked': reverseItem.isChecked && isCheckable}">
              <div class="vertical-line"></div>
              <div class="number spec-font-lg-12">{{reverseItem.value}}</div>
            </div>
          </div>
        </div>
        <!-- loading when requesting data -->
        <!-- <mat-spinner [diameter]="80" *ngIf="!isDataReady" class="position-absolute"></mat-spinner> -->
      </div>

      <div class="progress-bar-range-value max-value">{{progressBarConfig?.maxValue}}</div>

    </div>
  </div>
</div>
